.li-lista{
    list-style: none;
    border:solid 1px #b3c9df;
    border-radius: 8px;
    margin-top: 5px;
    padding: 5px;
    font-weight: 549;
    
}

.li-lista:hover{
    background-color: #dbe6f2;
    transition: 0.5s;
}


.ul-lista{
    padding: 0;
}

/* Tablet (≤768px) */
@media (max-width: 768px) {
    .li-lista{
        width: auto;
        max-width: 500px;
    }
}

/* Celular (≤480px) */
@media (max-width: 480px) {
  .li-lista {
    width: auto;
    max-width: 250px;
  }
}
